.task {
	background-color: rgb(223, 223, 223);
	/* //background-color: rgb(236, 153, 153); */
	margin: 5px;
	padding: 10px 20px;
	cursor: pointer;
}

.task.reminder {
	/* border-left: 10px solid rgb(0, 0, 0); */
		/* border-left: 10px solid #eb5b65; */
		border-left: 10px solid rgb(143, 202, 98);
}

.task h3 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}