.task {
	background: #f2f0f2;
	margin: 5px;
	padding: 10px 20px;
	cursor: pointer;
}

.task.reminder {
	border-left: 10px solid rgb(169, 126, 211);
}

.task h3 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}